@charset "utf-8";
html {
  padding: 0;
  
}

body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}

.wrap {
  width: 100%;
  margin: 0 auto;
}

.gray-bg {
  background-color: #ececec;
}

.white-bg {
  background-color: #fff;
}

.text-violet {
  color: #9a00da;
}

.text-white {
  color: #fff;
}

.btn-custom {
  border-radius: 0;
}

.btn-white {
  background-color: #fff;
  color: #000;
  border-color: #030000;
}
