@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
html,body {
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  padding: 0;
  
}

body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}

.wrap {
  width: 100%;
  margin: 0 auto;
}

/* COMMON STYLE */
.gray-bg {
  background-color: #ececec;
}

.white-bg {
  background-color: #fff;
}

.black-bg {
  background-color: #000000;
}

.sign-form-bg {
  background-color: #f3f3f3;
}

/* TEXT STYLE */
.text-violet {
  color: #9a00da;
}

.text-white {
  color: #fff;
}

.text-mint {
  color: #01f7fa;
}

.text-gray {
  color: #707070;
}

.text-pink {
  color: #eb416a !important;
}
/* BTN */
.btn-custom {
  border-radius: 0;
}

.btn-white {
  background-color: #fff;
  color: #000;
  border-color: #030000;
}

.btn-black,
.btn-black:hover {
  background-color: #000000;
  color: #fff;
}

.btn-violet,
.btn-violet:hover {
  background-color: #8200de;
  color: #fff;
}

/* INPUT */
.input-custom {
  border-radius: 0;
}

/* HR */
hr.black-1 {
  border-top: 1px solid rgba(0, 0, 0, 1);
}
hr.black-2 {
  border-top: 2px solid rgba(0, 0, 0, 1);
}

/* Badge */
.badge-circle {
  border-radius: 2rem;
  padding: 2em 0.4em;
  min-width: 60px;
}

.badge-darkgray {
  background-color: #353432;
  color: #fff;
}

.badge-gray {
  background-color: #707070;
  color: #fff;
}

/* 상품 리스트 */
.product-list .badge-wrap {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

/* 상품 썸네일 캐러셀 */
.goods-thumbnails .carousel-indicators {
  margin-top: 15px;
  margin-left: 0;
  margin-right: 0;
  position: inherit;
}

.goods-thumbnails .carousel-indicators li {
  height: auto;
  max-width: 100px;
  width: 100px;
  border: 2px solid transparent;

}
.goods-thumbnails .carousel-indicators img {
  max-width: 100px;
  height: 50px;
  overflow: hidden;
  display: block;
}

/* Signup Form */
.signin-form-wrap {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

.signin-form-wrap .btn-link {
  color: #5e5e5e;
  text-decoration: none;
}

.header-main {
  width: 100%;
}

.header-main > div {
  display: inline-block;
}

.header-main .logo {
  margin: 0 auto;
}