@charset "utf-8";
html {
  padding: 0;
  
}

body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}

.wrap {
  width: 100%;
  margin: 0 auto;
}

.gray-bg {
  background-color: #ececec;
}

.white-bg {
  background-color: #fff;
}

/* TEXT STYLE */
.text-violet {
  color: #9a00da;
}

.text-white {
  color: #fff;
}

/* BTN */
.btn-custom {
  border-radius: 0;
}

.btn-white {
  background-color: #fff;
  color: #000;
  border-color: #030000;
}

.btn-black,
.btn-black:hover {
  background-color: #000000;
  color: #fff;
}

.btn-violet,
.btn-violet:hover {
  background-color: #8200de;
  color: #fff;
}

/* INPUT */
.input-custom {
  border-radius: 0;
}

/* HR */
hr.black-1 {
  border-top: 1px solid rgba(0, 0, 0, 1);
}
hr.black-2 {
  border-top: 2px solid rgba(0, 0, 0, 1);
}

/* 상품 썸네일 캐러셀 */
.goods-thumbnails .carousel-indicators {
  margin-top: 15px;
  margin-left: 0;
  margin-right: 0;
  position: inherit;
}

.goods-thumbnails .carousel-indicators li {
  height: auto;
  max-width: 100px;
  width: 100px;
  border: 2px solid transparent;

}
.goods-thumbnails .carousel-indicators img {
  max-width: 100px;
  height: 50px;
  overflow: hidden;
  display: block;
}
