@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap&subset=korean');

body {
  font-family: 'Noto Sans KR', sans-serif;
}

/* COMMON STYLE */
.gray-bg {
  background-color: #ececec;
}

/* gnb */
.logo-top-pc {
  width: 130px;
  height: 53px;
  background-image: url('../images/main/logo_top.png');
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.gnb {
  background-color: rgba(228, 228, 228, 1);
  border-bottom: 1px solid rgba(3, 0, 0, 1)
}

.gnb .nav-link {
  color: #000;
}

/* Visual MAIN */
.visual-main {
  background-image: url('../images/main/visual_main.png');
  background-position: center bottom;
  background-size: auto 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 340px;
  position: relative;
  display: table;
}

.visual-main .visual-main-inner {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.visual-main-text {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
}

.visual-main .visual-main-inner .visual-main-text h1 {
  font-weight: bold;
  font-size: 3.5rem;
}

.start-btn {
  background-color: rgba(154, 0, 218, 1);
  color: #fff;
  padding: 3.5rem;
  border-radius: 5rem;
}

/* Service Main */
.service-main {
  background-color: rgba(228, 228, 228, 1);
}

/* Info Banner */
.info-banner-main {
  background-image: url('../images/main/info_banner_01.png');
  background-position: center bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #fff;
}

/* Product */
.produc-01-bg {
  background-image: url('../images/main/product_01_bg.png');
  background-position: center right;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.produc-02-bg {
  background-image: url('../images/main/product_02_bg.png');
  background-position: center left;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.produc-03-bg {
  background-image: url('../images/main/product_03_bg.png');
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.right-btn-group {
  left: auto;
  right: 20px;
}

.header-main {
  width: 100%;
}

.header-main > div {
  display: inline-block;
}

.header-main .logo {
  margin: 0 auto;
}

/* MOBILE MENU */
.menu-mobile {
  
}

.btn-menu {
  position: absolute;
  right: 0;
  top: 20px;
}

.btn-menu span {
  width: 40px;
  height: 2px;
  background: #000;
  display: block;
  margin-bottom: 8px;
}

.menu-mobile .btn-menu {
  position: absolute;
  right: 0;
  top: 20px;
}

.menu-mobile .dl-menu {
  position: absolute;
  left: 0;
}

/* DEMO SITE LIST */
.demo-list {
  width: 95%;
  margin: 0 auto;
}

/* PC */
@media (min-width: 768px) {
  .visual-main {
    
    height: 940px;
  }
}