@charset "utf-8";

.wrap {
  margin: 0 auto;
}

.header-main > div {
  display: inline-block;
}

.header-main .logo {
  margin: 0 auto;
}

/* MOBILE MENU */
.menu-mobile {
  position: relative;
  display: none;
}
.menu-mobile .btn-menu {
  position: absolute;
  right: 0;
  top: 20px;
}

/* DEMO SITE LIST */
.demo-list {
  width: 95%;
  margin: 0 auto;
}