@charset "utf-8";
/* MAIN */
.top-wrap > div {
  display: inline-block;
}

.product-list .card .card-body {
  position: relative;
}

.card-body .hidden-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: greenyellow;
  transition: all .2s ease-in-out;
}

.product-list .card:hover .hidden-layer {
  opacity: 1;
}

/* Mobil nav */
.btn-menu span {
  width: 40px;
  height: 2px;
  background: #000;
  display: block;
  margin-bottom: 8px;
}

.slide-nav {
  width: 80%;
  left: -80%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0px;
  transition: all .6s ease-in-out;
}

.slide-nav.show{
  left: 0;
  background-color: rgba(0,0,0,0.8);
  transition: all .6s ease-in-out;
}

/* FORM */
.signin-form-wrap {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 50px;
}