@charset "utf-8";
/* gnb */
.gnb {
  background-color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(3, 0, 0, 1)
}

.logo-top {
  width: 130px;
  height: 53px;
  background-image: url('/common/images/main/logo_top_white.png');
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.gnb .nav-link {
  color: #fff;
}

.gnb .nav-item.active .nav-link {
  color: #00fcff;
}

.gnb .fas.fa-bars {
  color: #00fcff;
}


/* Product List */
.product-list .card {
  border: none;
  background-color: transparent;
  border-radius: 0;
  position: relative;
}

.product-list .card .card-img-top {
  border-radius: 0;
}

.product-list .card .card-body {
  color: #fff;
  border: none;
}



.card-body .hidden-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: rgb(5,45,248);
  background: -moz-linear-gradient(0deg, rgba(5,45,248,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(5,45,248,1) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(0deg, rgba(5,45,248,1) 0%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#052df8",endColorstr="#ffffff",GradientType=1);
}

.hidden-layer h5 a {
  color: #fff;
}

.card-body .hidden-layer h5 {
  position: absolute;
  top: 50%;
  width: 100%;
}


.card-body .hidden-layer .hidden-layer-inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-body .hidden-layer .hidden-layer-inner a{
  color: #fff;
}

.product-list .card:hover .hidden-layer {
  opacity: 1;
}

/* Pagination */
.pagination.black .page-link {
  background-color: transparent;
  color: #fff;
  border: none;
}

.pagination.black .page-item.active .page-link {
  color: #00fcff;
  background-color: transparent;
  text-decoration: underline;
}

/* FORM */
.signin-form-wrap {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 50px;
}

/* TITLE */
.title-area {
  background: url('../images/bg.png');
  
  background-position: center bottom;
  background-repeat: repeat-x;
}

.title-area h3 {
  color: #00fcff;
}

/* Side-Nav */
.side-col h3 {
  color: #ffffff;
}
.side-wrap {
  border: 1px #01f7fa solid;
}
.side-col .nav .nav-link {
  color: #ffffff;

}

/* 상품 소팅 */
.product-sort-unit,
.product-sort-unit a {
  color: #fff;
}


/* SIDE Slider */
.sale-item-prev,
.sale-item-next {
  color: #fff;
}

.sales-off.owl-carousel .owl-item img {
  width: auto;
}

.sales-off.owl-carousel .owl-item .media {

  margin-top: 15px;
  padding-top: 15px;
}

.sales-off.owl-carousel .owl-item .media:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

.sales-off.owl-carousel .owl-item .media h6 {
  color: #fff;
  font-weight: normal;
}

.sales-off.owl-carousel .owl-item .media del {
  color: #707070;
}

.sales-off.owl-carousel .owl-dots {
  text-align: center
}

.sales-off.owl-carousel .owl-dots span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #4d4d4d;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
}

.sales-off.owl-carousel .owl-dots .owl-dot.active span, 
.sales-off.owl-carousel .owl-dots .owl-dot:hover span {
  background: #D6D6D6;
}

.filters .mb-0.text-violet {
  cursor: pointer;
}

.filters select {
  background-color: transparent;
  color: #fff;
  border: none;
  width: 100%;
  height: auto;
  padding: 0;
  line-height: 1.5;
}

/* Footer */
.cresh-footer {
  background-color: #202020;
  color: #fff;
}

.cresh-footer .nav-link {
  color: #707070;
  padding: 0.3rem 0rem;
}


.sns-link a {
  color: #bfbfbf;

}

/* TITLE UNIT */
.title-unit .breadcrumb {
  background-color: transparent;
  padding: 0;
}

.title-unit .breadcrumb a {
  color: #000;
}

.title-unit .breadcrumb-item + .breadcrumb-item::before {
  color: #000000;
  content: ">";
}

.breadcrumb-item.active {
  color: #8200de;
}

/* Detail Page */
.goods-unit .goods-options {
  
}

.goods-unit .goods-options .custom-select {
  border-color: #000000;
  border-radius: 0;
}

.goods-quantity {
  
}

.goods-unit .total-price .form-control-plaintext {
  font-weight: bold;
}

.goods-unit .input-group-sm .btn {
  border-radius: 0;
}

.goods-unit .get-buy-btn .btn-group {
  width: 100%;
}


/* Thumbnail Carousel */
.goods-thumbnails .carousel-indicators li.active {
  border-color: #8200de;
}

/* GOODS DETAIL TABS */
.style-violet-tab .nav-tabs {
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
}

.style-violet-tab .nav-tabs .nav-item {
  margin-bottom: 0;
}

.style-violet-tab .nav-tabs .nav-link {
  border: none;
  color: #000;
}

.style-violet-tab .nav-tabs .nav-link.active {
  color: #8200de;
}

/* 후기 */
.review-list > h4 {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.review-form .form-control {
  border-color: #000;
}

.review-star i {
  cursor: pointer;
  color: #8200de;
}

/* 묻고답하기 */
.qna-list ul {
  border-top: 1px solid #000000;
  list-style: none;
  padding: 0;
}

.qna-list ul li {
  border-bottom: 1px solid #000000;
}

.qna-list ul li .question {
  padding: 1rem;
}

.qna-list ul li .answer {
  border-top: 1px solid rgba(0,0,0,.06);
  background-color: rgba(0,0,0,.03);
  padding: 0.5rem 1rem;
}

/* Over PC */
@media (min-width: 992px) {
  .gnb .nav-item.active .nav-link {
    border-bottom: 3px solid #00fcff;
  }

}