@charset "utf-8";
/* gnb */
.logo-top {
  width: 130px;
  height: 53px;
  background-image: url('/common/images/main/logo_top.png');
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.gnb {
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(3, 0, 0, 1)
}

.gnb .nav-link {
  color: #000;
}

.product-list .card {
  border-radius: 0;
  position: relative;
  border-color: #bfbfbf;
}

.product-list .card .card-img-top {
  border-radius: 0;
}

.product-list .card .card-body {
  border-top: 1px #bfbfbf solid
}

.card-body .hidden-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: #646464;
  transition: all .2s ease-in-out;
}

.card-body .hidden-layer h5 {
  position: absolute;
  top: 50%;
  width: 100%;
}

.card-body .hidden-layer .hidden-layer-inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-body .hidden-layer .hidden-layer-inner a{
  color: #fff;
}

.product-list .card:hover .hidden-layer {
  opacity: 1;
}


/* FORM */
.signin-form-wrap {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 50px;
}

/*  */
.title-area {
  background: url('../images/dummy_title_bg.png');
  background-color: #a5bcc4;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

/* Side-Nav */
.side-col h3 {
  color: #525252;
  font-weight: 100;
}
.side-wrap {
  border: 1px #a0a0a0 solid;
}
.side-col .nav .nav-link {
  color: #000000;

}

/* SIDE Slider */
.side-wrap.owl-carousel .owl-item img {
  width: auto;
}

.side-wrap.owl-carousel .owl-item .media {
  border-top: 1px #bfbfbf solid;
  margin-top: 15px;
  padding-top: 15px;
}

.side-wrap.owl-carousel .owl-item .media:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

.side-wrap.owl-carousel .owl-item .media h5 {
  font-weight: normal;
}

.side-wrap.owl-carousel .owl-item .media del {
  color: #bfbfbf;
}

.side-wrap.owl-carousel .owl-dots {
  text-align: center
}

.side-wrap.owl-carousel .owl-dots span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
}

.side-wrap.owl-carousel .owl-dots .owl-dot.active span, 
.side-wrap.owl-carousel .owl-dots .owl-dot:hover span {
  background: #4d4d4d;
}

.filters .mb-0.text-violet {
  cursor: pointer;
}

.filters select {
  border: none;
  width: 100%;
  height: auto;
  padding: 0;
  line-height: 1.5;
}

/* Footer */
.cresh-footer {
  
}

.cresh-footer .nav-link {
  color: #707070;
}

.logo-bottom {
  width: 130px;
  height: 53px;
  background-image: url('/common/images/main/logo_bottom.png');
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.sns-btn-group .btn {
  color: #bfbfbf;

}